// form
.form-footer {
  display: flex;
}

// form control
.form-control {
  &::-webkit-file-upload-button {
    display: none;
  }

  &::file-selector-button {
    display: none;
  }

  &:-webkit-autofill {
    box-shadow: 0 0 0 1000px var(--#{$prefix}bg-forms) inset;
    -webkit-text-fill-color: var(--#{$prefix}body-color);
  }

  &.is-invalid:focus {
    &:-webkit-autofill {
      box-shadow: 0 0 0 1000px var(--#{$prefix}bg-forms) inset,
        0 0 0 0.25rem rgba(var(--#{$prefix}danger-rgb), 0.25);
      -webkit-text-fill-color: var(--#{$prefix}body-color);
    }
  }
}
