html {
  overflow-y: scroll;
}

body {
  display: flex;
  flex-direction: column;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  flex-shrink: 0;
}

.page {
  flex-shrink: 0;
}
